body {
	background-image: url("latar.png");
	background-size: cover;
}
.header {
	background-color: #ffa500;
	height: 130px;
}
.header-list li {
	list-style: none;
	float: right;
}
.header-logo {
	float: left;
	padding: 20px 40px;
}
.header-list li{
	float: left;
	padding: 50px 70px;
}
.d p {
	font-size: 30px;
}
.isi {
	height: 300px;
	width: 400px;
	align-items: center;
	font-size: 20px;
}
.judul {
	border: 10px solid;
	background-color: LightGray;
	background-size: cover;
	width: 350px;
	height: 700px;
	padding: 300px 150px;
	margin: 100px;
}
.footer {
	background-color: midnightblue;
	height: 175px;
}
.footer-list li{
	list-style: none;
	padding: 20px 20px;
	font-size: 20px;
}
.footer-list a{
	color: gold;
}
.main {
	border: 10px solid;
	background-color: LightGray;
	background-size: cover;
	width: 350px;
	height: 700px;
	padding: 300px 150px;
	margin: 100px;
}
.main li {
	list-style: none;
}
.copy {
	color: white;
}
.us {
	font-size: 30px;
	font-style: bold;
}